USE [master]
GO
/****** Object:  Table [dbo].[Urls]    Script Date: 14.8.2025 г. 13:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalUrl] [nvarchar](2048) NOT NULL,
	[ShortUrl] [nvarchar](16) NOT NULL,
	[SecretUrl] [nvarchar](64) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Urls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 14.8.2025 г. 13:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrlId] [int] NOT NULL,
	[IpAddress] [nvarchar](45) NOT NULL,
	[VisitedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Urls] ON 

INSERT [dbo].[Urls] ([Id], [OriginalUrl], [ShortUrl], [SecretUrl], [CreatedAt]) VALUES (1, N'https://www.youtube.com/', N'94GGml', N'40f96631f13e4b27863c66d02a39e1c8', CAST(N'2025-08-13T15:30:28.5723220' AS DateTime2))
INSERT [dbo].[Urls] ([Id], [OriginalUrl], [ShortUrl], [SecretUrl], [CreatedAt]) VALUES (2, N'https://www.youtube.com/', N'lgeAs3', N'be89348d8c84424dbdc15a5eca18546a', CAST(N'2025-08-13T15:30:42.6277448' AS DateTime2))
INSERT [dbo].[Urls] ([Id], [OriginalUrl], [ShortUrl], [SecretUrl], [CreatedAt]) VALUES (3, N'https://www.youtube.com/', N'DmQ4gq', N'57b8a37754ed48c5bf3ef6744a00476a', CAST(N'2025-08-13T15:30:52.7492243' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Urls] OFF
GO
SET IDENTITY_INSERT [dbo].[Visits] ON 

INSERT [dbo].[Visits] ([Id], [UrlId], [IpAddress], [VisitedAt]) VALUES (1, 1, N'::1', CAST(N'2025-08-13T15:30:32.9794525' AS DateTime2))
INSERT [dbo].[Visits] ([Id], [UrlId], [IpAddress], [VisitedAt]) VALUES (2, 6, N'::1', CAST(N'2025-08-13T15:31:10.3378897' AS DateTime2))
INSERT [dbo].[Visits] ([Id], [UrlId], [IpAddress], [VisitedAt]) VALUES (3, 8, N'::1', CAST(N'2025-08-13T15:33:17.1936907' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Visits] OFF
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Urls_UrlId] FOREIGN KEY([UrlId])
REFERENCES [dbo].[Urls] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Urls_UrlId]
GO
